@charset "UTF-8";
    
body{
    color: black;
    background-color: #FFFFFF;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: justify;
    width: 1440px;
    height: 2048px;
    left:-720px;
    top: -512px;
    font-optical-sizing: auto;
    margin-left: 500px;
    margin-right: 500px;
    justify-content: center;
    align-items: center;
    padding: 20px;
   
}

h1{
font-size: 56px;
font-weight: 700;
line-height: 64px;
text-align: left;
width: 969px;
height: 256px;
top: 74px;
left: 235px;
gap: 0px;
opacity: 0px;
margin-left: 60px;
}
.primeiro{
    width: 780px;
    height: 84px;
    top: 363px;
    left: 235px;
    gap: 0px;
    opacity: 0px;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
    color: rgba(85, 85, 85, 1);
    margin-left: 60px;


}
.segundo{
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    margin-left: 60px;
}
.lugar{
    font-weight: 400;
    size: 16px;
    line-height: 20px;
}
.data{
    width: 226px;
    height: 16px;
    top: 512px;
    left: 235px;
    gap: 0px;
    opacity: 0px;
    font-size: 12px;
    font-weight: 400;
    line-height: 16.34px;
    text-align: left;
    margin-left: 60px;

}
hr{
width: 1020px;
height: 0px;
top: 554px;
left: 235px;
gap: 0px;
border: 1px 0px 0px 0px;
opacity: 0px;
color: (176, 175, 175, 1);
margin-right: 500px;
}
.a{
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    text-align: left;
    width: 1388px;
    height: 32px;
    left: 17px;
    gap: 0px;
    opacity: 0px;
    color: rgba(85, 85, 85, 1);
    margin-right: 400px;
}
.div{
     width: 691px;
    height: 160px;
    top: 623px;
    left: 375px;
    gap: 0px;
    opacity: 0px;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    text-align: left;

}
.div2{
    width: 685px;
    height: 224px;
    top: 1014px;
    left: 375px;
    gap: 0px;
    opacity: 0px;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    text-align: left;

}
.negrito2{
    color: rgba(166, 19, 10, 1);
    font-size: 20px;
    font-weight: 700;
    line-height: 32px;
    text-align: left;
}
.ponto{
    color: rgba(166, 19, 10, 1);
   font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    text-align: left;
}
ul{
    width: 675px;
    height: 192px;
    top: 797px;
    left: 382px;
    gap: 0px;
    opacity: 0px;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    text-align: left;
    color: rgba(166, 19, 10, 1);
}
.div3{
    width: 683px;
    height: 128px;
    top: 1255px;
    left: 375px;
    gap: 0px;
    opacity: 0px;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    text-align: left;
    color: rgba(51, 51, 51, 1);
}
.negrito3{
    width: 422px;
    height: 32px;
    top: 1401.15px;
    left: 375px;
    gap: 0px;
    opacity: 0px;
    font-size: 20px;
    font-weight: 700;
    line-height: 32px;
    text-align: left;
    color: rgba(51, 51, 51, 1);

}
h2{
    width: 437px;
height: 36px;
top: 1465.2px;
left: 375px;
gap: 0px;
opacity: 0px;
font-size: 32px;
font-weight: 700;
line-height: 36px;
text-align: left;
color: rgba(17, 17, 17, 1);

}
.externo{
    width: 669px;
    height: 224px;
    top: 1520px;
    left: 375px;
    gap: 0px;
    opacity: 0px;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    text-align: left;

}
blockquote{
width: 679px;
height: 258px;
top: 1766px;
left: 375px;
font-size: 1.7em;
font-weight: 500;
}
.quadrado{
    border-left: 3px solid rgba(166, 19, 10, 1)

}
.div5{
    margin-left: 150px;
}